html {
    height: 100%;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 100vh;  /* Change from height: 100% */
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;  /* Change from 100% */
    background-position: center;  /* Uncomment this */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.menuParent{
   
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    
}



.screenParent{
    background: rgba(172, 172, 172, 0.9);
    backdrop-filter: saturate(180%) blur(2px);
    padding: 7% 6.5% 4% 6.5% ;
    box-shadow: 0 1.8rem 3.7rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height:12rem;
    min-width: 26rem;
}

.form{
    margin: 20px 10px 20px 5px;
    height: 100%;
    width: 100%;
}

label{
    font-size: xx-large;
    
     
 }

 input{
    /* display: flex; */
     border-radius: 5px;
     height: 1rem;
     width: 100%;
    
 }

 button{
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px 30px;
    font-size: large;
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: rgb(221, 221, 221);
}

.weatherParent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;

}

p{
    margin: 18px;
}